---
layout: default
title: Коллекция ссылок
---

<div class="row">

  <div class="col-md-3">
    <div class="post-navigation visible-lg-block visible-md-block">
      <p><a href="#">В начало</a></p>

      <strong>Содержание</strong>
      <ul>
        {% for post in site.categories.links %}
        <li>
          <a href="#{{ post.title }}">
            {{ post.title }}
            <br>
            <small>{{ post.description }}</small>
          </a>        
        </li>      
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-md-9">

    <div class="page-header">
      <h1>Коллекция ссылок
        <p>
          <small>полезные и интересные статьи, ресурсы и прочее</small>
        </p>
      </h1>
    </div>

    {% for post in site.categories.links %}

      <!-- Enable post custom font size (.post in customstyles.css) -->
      <div class="post">
        <div class="page-header">
          <h2 id="{{ post.title }}">{{ post.title }}
            <p>
              <small>{{ post.description }}</small>
            </p>
          </h2>
        </div>
        
        {{ post.content }}

      </div>
    {% endfor %}
  </div>
  
</div>