/* Customize brand image size and padding */
#brand-image {
  width: 64px;
  padding-top: 8px;
}

.github-project {
  padding: 2px;
  padding-left: 16px;
  padding-right: 16px;
}

.github-button {
  padding: 2px;
  padding-left: 16px;
  padding-right: 16px;
}