/* Customize brand image size and padding */
#brand-image {
  width: 64px;
  padding-top: 8px;
}

.github-project {
  padding: 2px;
  padding-left: 16px;
  padding-right: 16px;
}

.github-button {
  padding: 2px;
  padding-left: 16px;
  padding-right: 16px;
}

/*** .page-content ***/

.page-content {
  color: #3E4349;
}

/*** .post - post content ***/

/* Customize font in posts */
.post {
  font-size: 15px;
  line-height: 140%;
  font-family: Verdana, sans-serif;
}

/* Customize link style in posts */
.post a {
  color: #007BAB;
}

.post h4 a {
  color: #004B6B;
}

/* Customize blockquote in posts */
.post blockquote {
  font-size: 14px;
  color: #555;
}

/* Add params to the post images so that it scales nicely to the parent element.*/
.post img {
  /* from bootstrap .img-responsive class */
  display: block;
  max-width: 100%;
  height: auto;

  /* from bootstrap .img-thumbnail class */
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.post .media-object {
  max-width: none;
}

.post .media-body {
  font-size: 12px;
}

.post-navigation {
  font-family: Verdana;
  font-size: 100%;
  line-height: 130%;
  color: #4E5359;
  position: fixed;
  width: 220px;
  margin-top: 40px;
}

.post-navigation a {
  color: #3E4349;
}

.post-navigation small {
  color: #6E8389;
}

.post-navigation ul {
  padding-left: 20px;
  margin-top: 10px;
}

.post-navigation li {
  margin-bottom: 10px;
}