.header {
    font-family: Verdana, arial, helvetica, sans-serif; font-size: 16px;
}

.content {
    font-family: Verdana, arial, helvetica, sans-serif; font-size: 16px;
}

.issues {
    font-family: Verdana, arial, helvetica, sans-serif; font-size: 12px;
}

.footer {
    font-family: Verdana, arial, helvetica, sans-serif; font-size: 14px;
}